@import "../../../../assets/styles/mixins";
@import "../../../../assets/styles/animations";
@import "../../../../assets/styles/variables";

:host {
  display: block;

  &.selected > .tree-node-header {
    @include fontBold();
  }
}

$tree-border: $border-width dotted $theme-border-color;

.tree-node-header {
  display: flex;
  cursor: pointer;

  div {
    flex: auto;
    line-height: 1.3;
  }

  &.no-children {

    & > div {
      padding-left: $spacer-x * 2;
    }
  }
}

.tree-node-list {
  overflow: hidden;
  padding-left: $spacer-x;
  height: auto;

  .tree-node {
    position: relative;
    border-left: $tree-border;

    &:last-child {
      border-left: 0;

      .tree-node-header:before {
        border-left: $tree-border;
      }
    }
  }

  .tree-node-header {
    &:before {
      content: '';
      position: absolute;
      border-bottom: $tree-border;
      width: $spacer-x / 3;
      height: $spacer-y * 1.1;
      top: 0;
      left: 0;
    }

    &.no-children:before {
      width: $spacer-x * 1.5;
    }
  }
}

.tree-node-list.collapsed {
  height: 0;
}

.tree-toggler {
  padding: $spacer-y / 4 $spacer-x / 2;
  font-size: $font-size-sm;
  width: $spacer-x * 2;

  &.expanded {
    font-size: 1rem;
    padding: 0 $spacer-x / 4;
    text-align: center;
  }
}
