@import "../../../../assets/styles/mixins";
@import "../../../../assets/styles/animations";
@import "../../../../assets/styles/variables";

:host {
  display: block;
}

.tree-node-header {
  display: flex;
  cursor: pointer;

  div {
    flex: auto;
    line-height: 1.5;
  }
}

.tree-node-list {
  overflow: hidden;
  padding-left: $spacer-x * 2;
  height: auto;
}

.tree-node-list.collapsed {
  height: 0;
}

.tree-toggler {
  padding: $spacer-y / 2 $spacer-x / 2;
  font-size: .7rem;
  border-radius: $border-radius;
  width: $spacer-x * 2;
}

.selected {
  @include fontBold();
}
