<breadcrumb pageTitle="Data grid" pageSubtitle="Park"></breadcrumb>

<ng-template #editButtonTemplate let-value="value" ngx-datatable-cell-template>
  <button type="button" class="btn btn-table theme-icon-edit btn-secondary"
          (click)="reportClick(value)">
  </button>
</ng-template>
<ng-template #ratingTemplate let-value="value" ngx-datatable-cell-template>
  - {{value}} -
</ng-template>

<tabset>
  <tab heading="Dynamic">
    <h4 class="mb-3">Dynamic declarative data table</h4>
    <ngx-datatable class="bootstrap table table-sm table-outer-bordered table-striped"
      [rows]="rows"
      [columns]="columns"
      [columnMode]="'force'"
      [count]="3"
      [messages]="tableMessages"
      [reorderable]="false">
    </ngx-datatable>
    <h4 class="mb-3">Dynamic sortable datatable</h4>
    <ngx-datatable class="table table-sm table-outer-bordered table-striped"
                   [rows]="rows"
                   [count]="3"
                   [columnMode]="'force'"
                   [cssClasses]="tableCssClasses"
                   [externalPaging]="true"
                   [externalSorting]="false"
                   [rowHeight]="'auto'"
                   [messages]="tableMessages"
                   reorderable="true">
      <ngx-datatable-column prop="name" [width]="200"></ngx-datatable-column>
      <ngx-datatable-column prop="gender" [width]="20"></ngx-datatable-column>
      <ngx-datatable-column prop="company" [width]="60"></ngx-datatable-column>
      <ngx-datatable-column name="Rating" prop="rating" [width]="60">
        <ng-template ngx-datatable-cell-template let-value="value">
          <rating [ngModel]="value" max="5" readonly="true" [ngModelOptions]="{ standalone: true }"
                  stateOn="theme-icon-star" stateOff="theme-icon-star-o">
          </rating>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </tab>
  <tab heading="With pagination">
    <ngx-datatable *ngIf="users"
                   class="bootstrap table table-sm table-outer-bordered table-striped"
                   [sortType]="'single'"
                   [headerHeight]="'auto'"
                   [messages]="{ emptyMessage: 'NO_RESULTS' | translate, totalMessage: 'RESULTS' | translate }"
                   [columnMode]="'force'"
                   [footerHeight]="50"
                   [rowHeight]="'auto'"
                   [sorts]="sorting"
                   [offset]="page"
                   [limit]="pageSize"
                   [trackByProp]="id"
                   [columns]="swColumns"
                   [cssClasses]="tableCssClasses"
                   [externalPaging]="true"
                   [count]="collectionSize"
                   [rows]="users"
                   (page)='setPage($event)'>
    </ngx-datatable>
  </tab>
  <tab heading="Simple">
    <h4>Simple table</h4>
    <table class="table">
      <thead>
      <tr>
        <th></th><th>First Name</th><th>Last Name</th><th>Username</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th><td>Bruno</td><td>Garcia</td><td>@ayrtonsenna</td>
      </tr>
      <tr>
        <th scope="row">2</th><td>James</td><td>Crosswell</td><td>@kiwi</td>
      </tr>
      <tr>
        <th scope="row">3</th><td>Srdjan</td><td>Pajic</td><td>@paja.i.jare</td>
      </tr>
      <tr>
        <th scope="row">4</th><td>Joao</td><td>Grassi</td><td>@callmepaulo</td>
      </tr>
      </tbody>
    </table>
    <h4>Compressed table</h4>
    <table class="table table-sm">
      <thead>
      <tr>
        <th></th><th>First Name</th><th>Last Name</th><th>Username</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th><td>Bruno</td><td>Garcia</td><td>@ayrtonsenna</td>
      </tr>
      <tr>
        <th scope="row">2</th><td>James</td><td>Crosswell</td><td>@kiwi</td>
      </tr>
      <tr>
        <th scope="row">3</th><td>Srdjan</td><td>Pajic</td><td>@paja.i.jare</td>
      </tr>
      <tr>
        <th scope="row">4</th><td>Joao</td><td>Grassi</td><td>@callmepaulo</td>
      </tr>
      </tbody>
    </table>
  </tab>
  <tab heading="Bordered">
    <h4>Bordered table</h4>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th></th><th>First Name</th><th>Last Name</th><th>Username</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th><td>Bruno</td><td>Garcia</td><td>@ayrtonsenna</td>
      </tr>
      <tr>
        <th scope="row">2</th><td>James</td><td>Crosswell</td><td>@kiwi</td>
      </tr>
      <tr>
        <th scope="row">3</th><td>Srdjan</td><td>Pajic</td><td>@paja.i.jare</td>
      </tr>
      <tr>
        <th scope="row">4</th><td>Joao</td><td>Grassi</td><td>@callmepaulo</td>
      </tr>
      </tbody>
    </table>
    <h4>Striped table</h4>
    <table class="table table-striped">
      <thead>
      <tr>
        <th></th><th>First Name</th><th>Last Name</th><th>Username</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th><td>Bruno</td><td>Garcia</td><td>@ayrtonsenna</td>
      </tr>
      <tr>
        <th scope="row">2</th><td>James</td><td>Crosswell</td><td>@kiwi</td>
      </tr>
      <tr>
        <th scope="row">3</th><td>Srdjan</td><td>Pajic</td><td>@paja.i.jare</td>
      </tr>
      <tr>
        <th scope="row">4</th><td>Joao</td><td>Grassi</td><td>@callmepaulo</td>
      </tr>
      </tbody>
    </table>
  </tab>
  <tab heading="Small, striped">
    <h4>Small, striped with outer border only</h4>
    <table class="table table-sm table-outer-bordered table-striped">
      <table class="table table-striped">
        <thead>
        <tr>
          <th></th><th>First Name</th><th>Last Name</th><th>Username</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th><td>Bruno</td><td>Garcia</td><td>@ayrtonsenna</td>
        </tr>
        <tr>
          <th scope="row">2</th><td>James</td><td>Crosswell</td><td>@kiwi</td>
        </tr>
        <tr>
          <th scope="row">3</th><td>Srdjan</td><td>Pajic</td><td>@paja.i.jare</td>
        </tr>
        <tr>
          <th scope="row">4</th><td>Joao</td><td>Grassi</td><td>@callmepaulo</td>
        </tr>
        </tbody>
      </table>
    </table>
    <h4>Small, striped with full border</h4>
    <table class="table table-sm table-bordered table-striped">
      <thead>
      <tr>
        <th></th><th>First Name</th><th>Last Name</th><th>Username</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th><td>Bruno</td><td>Garcia</td><td>@ayrtonsenna</td>
      </tr>
      <tr>
        <th scope="row">2</th><td>James</td><td>Crosswell</td><td>@kiwi</td>
      </tr>
      <tr>
        <th scope="row">3</th><td>Srdjan</td><td>Pajic</td><td>@paja.i.jare</td>
      </tr>
      <tr>
        <th scope="row">4</th><td>Joao</td><td>Grassi</td><td>@callmepaulo</td>
      </tr>
      </tbody>
    </table>
  </tab>
  <tab heading="Table Styles">
    <h4>Different table styles</h4>
    <table class="table table-sm table-bordered thead-default">
      <thead>
      <tr>
        <th></th><th>First Name</th><th>Last Name</th><th>Username</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th><td>Bruno</td><td>Garcia</td><td>@ayrtonsenna</td>
      </tr>
      <tr>
        <th scope="row">2</th><td>James</td><td>Crosswell</td><td>@kiwi</td>
      </tr>
      <tr>
        <th scope="row">3</th><td>Srdjan</td><td>Pajic</td><td>@paja.i.jare</td>
      </tr>
      <tr>
        <th scope="row">4</th><td>Joao</td><td>Grassi</td><td>@callmepaulo</td>
      </tr>
      </tbody>
    </table>
    <table class="table table-sm table-bordered thead-inverse">
      <thead>
      <tr>
        <th></th><th>First Name</th><th>Last Name</th><th>Username</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th><td>Bruno</td><td>Garcia</td><td>@ayrtonsenna</td>
      </tr>
      <tr>
        <th scope="row">2</th><td>James</td><td>Crosswell</td><td>@kiwi</td>
      </tr>
      <tr>
        <th scope="row">3</th><td>Srdjan</td><td>Pajic</td><td>@paja.i.jare</td>
      </tr>
      <tr>
        <th scope="row">4</th><td>Joao</td><td>Grassi</td><td>@callmepaulo</td>
      </tr>
      </tbody>
    </table>
    <table class="table table-sm table-bordered table-inverse">
      <thead>
      <tr>
        <th></th><th>First Name</th><th>Last Name</th><th>Username</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th><td>Bruno</td><td>Garcia</td><td>@ayrtonsenna</td>
      </tr>
      <tr>
        <th scope="row">2</th><td>James</td><td>Crosswell</td><td>@kiwi</td>
      </tr>
      <tr>
        <th scope="row">3</th><td>Srdjan</td><td>Pajic</td><td>@paja.i.jare</td>
      </tr>
      <tr>
        <th scope="row">4</th><td>Joao</td><td>Grassi</td><td>@callmepaulo</td>
      </tr>
      </tbody>
    </table>
  </tab>

 </tabset>
