<div class="page-header">
  <h1>Data representation<span class="de-emphasize"> - Park</span></h1>
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item active">Data representation</li>
  </ol>
</div>

<h2>Lists</h2>
<ngb-tabset>
  <ngb-tab title="List">
    <template ngbTabContent>
      <h4>Simple list</h4>
      <ul class="list-group">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
    </template>
  </ngb-tab>
  <ngb-tab title="List + Badge">
    <template ngbTabContent>
      <h4>List with badges</h4>
      <ul class="list-group">
        <li class="list-group-item">
          <span class="tag tag-pill tag-danger float-right">14</span>
          Cras justo odio
        </li>
        <li class="list-group-item">
          <span class="tag tag-pill tag-success float-right">2</span>
          Dapibus ac facilisis in
        </li>
        <li class="list-group-item">
          <span class="tag tag-pill tag-info float-right">1</span>
          Morbi leo risus
        </li>
      </ul>
    </template>
  </ngb-tab>
  <ngb-tab title="Link list">
    <template ngbTabContent>
      <h4>Simple with links</h4>
      <div class="list-group">
        <a href="#" class="list-group-item active">
          <i class="app-icon-chevron-right float-right"></i>
          Cras justo odio
        </a>
        <a href="#" class="list-group-item">
          <i class="app-icon-chevron-right float-right"></i>
          Dapibus ac facilisis in
        </a>
        <a href="#" class="list-group-item">
          <i class="app-icon-chevron-right float-right"></i>
          Morbi leo risus
        </a>
        <a href="#" class="list-group-item">
          <i class="app-icon-chevron-right float-right"></i>
          Porta ac consectetur ac
        </a>
        <a href="#" class="list-group-item">
          <i class="app-icon-chevron-right float-right"></i>
          Vestibulum at eros
        </a>
      </div>
    </template>
  </ngb-tab>
  <ngb-tab title="Button list">
    <template ngbTabContent>
      <h4>Simple with buttons</h4>
      <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action">Cras justo odio</button>
        <button type="button" class="list-group-item list-group-item-action">Dapibus ac facilisis in</button>
        <button type="button" class="list-group-item list-group-item-action">
          <i class="app-icon-add float-left"></i>
          Morbi leo risus
        </button>
        <button type="button" class="list-group-item list-group-item-action">Porta ac consectetur ac</button>
        <button type="button" class="list-group-item list-group-item-action">Vestibulum at eros</button>
      </div>
    </template>
  </ngb-tab>
</ngb-tabset>
<h2>Data grids</h2>
<ngb-tabset>
  <ngb-tab title="Simple">
    <template ngbTabContent>
      <h4>Simple table</h4>
      <table class="table">
        <thead>
        <tr>
          <th></th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Bruno</td>
          <td>Garcia</td>
          <td>@ayrtonsenna</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>James</td>
          <td>Crosswell</td>
          <td>@kiwi</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Srdjan</td>
          <td>Pajic</td>
          <td>@paja.i.jare</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Joao</td>
          <td>Grassi</td>
          <td>@callmepaulo</td>
        </tr>
        </tbody>
      </table>
    </template>
  </ngb-tab>
  <ngb-tab title="Compressed">
    <template ngbTabContent>
      <h4>Compressed table</h4>
      <table class="table table-sm">
        <thead>
        <tr>
          <th></th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Bruno</td>
          <td>Garcia</td>
          <td>@ayrtonsenna</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>James</td>
          <td>Crosswell</td>
          <td>@kiwi</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Srdjan</td>
          <td>Pajic</td>
          <td>@paja.i.jare</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Joao</td>
          <td>Grassi</td>
          <td>@callmepaulo</td>
        </tr>
        </tbody>
      </table>
    </template>
  </ngb-tab>
  <ngb-tab title="Bordered">
    <template ngbTabContent>
      <h4>Bordered table</h4>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th></th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Bruno</td>
          <td>Garcia</td>
          <td>@ayrtonsenna</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>James</td>
          <td>Crosswell</td>
          <td>@kiwi</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Srdjan</td>
          <td>Pajic</td>
          <td>@paja.i.jare</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Joao</td>
          <td>Grassi</td>
          <td>@callmepaulo</td>
        </tr>
        </tbody>
      </table>
    </template>
  </ngb-tab>
  <ngb-tab title="Striped">
    <template ngbTabContent>
      <h4>Striped table</h4>
      <table class="table table-striped">
        <thead>
        <tr>
          <th></th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Bruno</td>
          <td>Garcia</td>
          <td>@ayrtonsenna</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>James</td>
          <td>Crosswell</td>
          <td>@kiwi</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Srdjan</td>
          <td>Pajic</td>
          <td>@paja.i.jare</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Joao</td>
          <td>Grassi</td>
          <td>@callmepaulo</td>
        </tr>
        </tbody>
      </table>
    </template>
  </ngb-tab>
  <ngb-tab title="Mixed">
    <template ngbTabContent>
      <h4>Mixed style table</h4>
      <table class="table table-sm table-bordered table-striped">
        <thead>
        <tr>
          <th></th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Bruno</td>
          <td>Garcia</td>
          <td>@ayrtonsenna</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>James</td>
          <td>Crosswell</td>
          <td>@kiwi</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Srdjan</td>
          <td>Pajic</td>
          <td>@paja.i.jare</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Joao</td>
          <td>Grassi</td>
          <td>@callmepaulo</td>
        </tr>
        </tbody>
      </table>
    </template>
  </ngb-tab>
  <ngb-tab title="Table Styles">
    <template ngbTabContent>
      <h4>Different table styles</h4>
      <table class="table table-sm thead-default">
        <thead>
        <tr>
          <th></th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Bruno</td>
          <td>Garcia</td>
          <td>@ayrtonsenna</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>James</td>
          <td>Crosswell</td>
          <td>@kiwi</td>
        </tr>
        </tbody>
      </table>
      <table class="table table-sm thead-inverse">
        <thead>
        <tr>
          <th></th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Bruno</td>
          <td>Garcia</td>
          <td>@ayrtonsenna</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>James</td>
          <td>Crosswell</td>
          <td>@kiwi</td>
        </tr>
        </tbody>
      </table>
      <table class="table table-sm table-inverse">
        <thead>
        <tr>
          <th></th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Bruno</td>
          <td>Garcia</td>
          <td>@ayrtonsenna</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>James</td>
          <td>Crosswell</td>
          <td>@kiwi</td>
        </tr>
        </tbody>
      </table>
    </template>
  </ngb-tab>
  <ngb-tab title="With pagination">
    <template ngbTabContent>
      <table class="table table-sm thead-default table-bordered">
        <thead>
        <tr class="row">
          <th class="col-sm-1"></th>
          <th class="col-sm-6 text-xs-center">Name</th>
          <th class="col-sm-1 text-xs-center">Height</th>
          <th class="col-sm-1 text-xs-center">Mass</th>
          <th class="col-sm-3"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users; let i = index" class="row">
          <td class="col-sm-1 text-xs-center">{{page * 10 + i - 9}}</td>
          <td class="col-sm-6 text-xs-left">{{user.name}}</td>
          <td class="col-sm-1 text-xs-right">{{user.height}}</td>
          <td class="col-sm-1 text-xs-right">{{user.mass}}</td>
          <th class="col-sm-3 text-xs-center">
            <button class="btn btn-secondary app-icon-edit" type="button"></button>
            <button class="btn btn-secondary app-icon-remove" type="button"></button>
            <button class="btn btn-secondary app-icon-monster" type="button"></button>
          </th>
        </tr>
        </tbody>
        <tfoot>
        <tr class="row">
          <th class="col-sm-12">
            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [rotate]="true" [ellipses]="false"
                            [maxSize]="5" [boundaryLinks]="collectionSize > 50" (pageChange)="getData()"
            class="float-right">
            </ngb-pagination>
          </th>
        </tr>
        </tfoot>
      </table>

    </template>
  </ngb-tab>
 </ngb-tabset>
