node_modules/
jspm_packages/
.vscode/
typings/
coverage/

.DS_Store
.AppleDouble
.LSOverride

# all generated
/index.html
dist/
temp/
src/app/**/*.js
src/app/**/*.js.map
src/assets/styles/**/*.css
src/assets/styles/**/*.map