node_modules/
.vscode/
.idea/
typings/
coverage/

.DS_Store
.AppleDouble
.LSOverride

# all generated
dist/
temp/
src/app/**/*.js
src/app/**/*.js.map
src/assets/styles/**/*.css
src/assets/styles/**/*.map
build/configs/
npm-debug.log
