<div class="page-header">
  <h1><span class="emphasize">Cards</span> - Park</h1>
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item active">Cards</li>
  </ol>
</div>

<div class="card-group">
  <!-- card -->
  <div class="card">
    <img class="card-img-top img-fluid" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample13.jpg" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Consise</h4>
      <p class="card-text">Cards are a good way to display content composed of different types of objects. They’re well-suited for presenting similar objects whose size or supported actions vary, like headings and photos with captions.</p>
    </div>
  </div>
  <!-- card -->
  <div class="card">
    <img class="card-img-top img-fluid" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample19.jpg" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Grouped</h4>
      <p class="card-text">Use card groups to render equal height cards without gutters between the cards. Use <code>.card-deck</code> for cards that aren’t attached to each another.</p>
    </div>
  </div>
  <!-- card -->
  <div class="card">
    <img class="card-img-top img-fluid" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample14.jpg" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Same Height</h4>
      <p class="card-text">A frequent problem occurs when you have multiple items in a row with content of varying height. Thanks to flexbox (and display:table) we now have equal height cards!</p>

    </div>
  </div>
</div>