<breadcrumb pageTitle="Data lists" pageSubtitle="Park"></breadcrumb>

<h4>Simple list</h4>
<ul class="list-group">
  <li class="list-group-item">
    <span class="list-group-item-heading">Cras justo odio</span>
    <span class="list-group-item-text">This is just a simple text inside list group item</span>
  </li>
  <li class="list-group-item"><span class="list-group-item-heading">Dapibus ac facilisis in</span></li>
  <li class="list-group-item"><span class="list-group-item-heading">Morbi leo risus</span></li>
  <li class="list-group-item"><span class="list-group-item-heading">Porta ac consectetur ac</span></li>
  <li class="list-group-item"><span class="list-group-item-heading">Vestibulum at eros</span></li>
</ul>

<h4>List with badges</h4>
<ul class="list-group">
  <li class="list-group-item justify-content-between" >
    <span class="list-group-item-heading">Cras justo odio</span>
    <span class="badge-pill badge-warning badge">14</span>
  </li>
  <li class="list-group-item justify-content-between">
    <span class="list-group-item-heading">Dapibus ac facilisis in</span>
    <span class="badge-pill badge badge-danger">2</span>
  </li>
  <li class="list-group-item justify-content-between">
    <!--<span class="tag tag-pill tag-info float-right">1</span>-->
    <span class="list-group-item-heading">Morbi leo risus</span>
    <span class="badge-pill badge badge-info">1</span>
  </li>
</ul>

<h4>Simple with links</h4>
<div class="list-group">
<a href="#" class="list-group-item justify-content-between active">
  Cras justo odio
  <i class="theme-icon-chevron-right float-right"></i>
</a>
<a href="#" class="list-group-item justify-content-between">
  Dapibus ac facilisis in
  <i class="theme-icon-chevron-right float-right"></i>
</a>
<a href="#" class="list-group-item justify-content-between">
  Morbi leo risus
  <i class="theme-icon-chevron-right float-right"></i>
</a>
<a href="#" class="list-group-item justify-content-between">
  Porta ac consectetur ac
  <i class="theme-icon-chevron-right float-right"></i>
</a>
<a href="#" class="list-group-item justify-content-between">
  Vestibulum at eros
  <i class="theme-icon-chevron-right float-right"></i>
</a>
</div>

<h4>Simple with buttons</h4>
<div class="list-group">
	<button type="button" class="list-group-item list-group-item-action">Cras justo odio</button>
	<button type="button" class="list-group-item list-group-item-action">Dapibus ac facilisis in</button>
	<button type="button" class="theme-icon-add list-group-item list-group-item-action">
	  Morbi leo risus
	</button>
	<button type="button" class="list-group-item list-group-item-action">Porta ac consectetur ac</button>
	<button type="button" class="list-group-item list-group-item-action">Vestibulum at eros</button>
</div>

