@import '../../../../assets/styles/animations';
@import '../../../../assets/styles/variables';

:host {
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: $theme-map-bg;
  position: relative;
  overflow: hidden;

  &.dragging #map {
    @include animateProperty(clip-path);
  }

  &.dragging #content-layer {
    @include animateProperty(none);
  }

  #content-layer {
    position: absolute;
    top: 0;
    left: 0;
    @include animateProperty(all);
  }

  #map {
    @include animateProperty(all);
    -moz-transform: translate(50%, 50%) scale(0.1);
    -ms-transform: translate(50%, 50%) scale(0.1);
    -o-transform: translate(50%, 50%) scale(0.1);
    -webkit-transform: translate(50%, 50%) scale(0.1);
    transform: translate(50%, 50%) scale(0.1);
  }

  #map-zooming {
    position: absolute;
    top: $spacer-y;
    left: $spacer-x;
  }
}



.map-country {
  fill: $theme-map-country-bg;
  stroke: $theme-map-line-color;
  stroke-width: 0.1;
}
