    <nav id="main-nav" [ngClass]="{collapsed: isMenuCollapsed}">
        <ul>
            <li class="menu-toggler" (click)="toggleMainMenu()" title="{{'navigation.TOGGLE_MENU' | translate}}">
                <i class="app-icon-chevron"></i>
            </li>
            <li><a [routerLink]="['/home']" class="app-icon-monster" routerLinkActive="active">
                {{ 'navigation.HOME' | translate }}
            </a></li>
            <li><a [routerLink]="['/dashboard']" class="app-icon-application" routerLinkActive="active">
                {{ 'navigation.DASHBOARD' | translate }}
            </a></li>
        </ul>
    </nav>