<div class="page-header">
  <h1>Colors<span class="de-emphasize"> - Park</span></h1>
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item active">Colors</li>
  </ol>
</div>

<h2>Main colors</h2>
<div class="row">
  <div class="col-lg-1 col-sm-4">
    <div class="color-block" style="background-color: #2196f3"></div>
    <div><span class="color-info">Variable:</span> $brand-primary</div>
    <div><span class="color-info">Value:</span> #2196f3</div>
  </div>
  <div class="col-lg-1 col-sm-4">
    <div class="color-block" style="background-color: #5cb85c"></div>
    <div><span class="color-info">Variable:</span> $brand-success</div>
    <div><span class="color-info">Value:</span> #5cb85c</div>
  </div>
  <div class="col-lg-1 col-sm-4">
    <div class="color-block" style="background-color: #5bc0de"></div>
    <div><span class="color-info">Variable:</span> $brand-info</div>
    <div><span class="color-info">Value:</span> #5bc0de</div>
  </div>
  <div class="col-lg-1 col-sm-4">
    <div class="color-block" style="background-color: #f0ad4e"></div>
    <div><span class="color-info">Variable:</span> $brand-warning</div>
    <div><span class="color-info">Value:</span> #f0ad4e</div>
  </div>
  <div class="col-lg-1 col-sm-4">
    <div class="color-block" style="background-color: #d9534f"></div>
    <div><span class="color-info">Variable:</span> $brand-danger</div>
    <div><span class="color-info">Value:</span> #d9534f</div>
  </div>
  <div class="col-lg-1 col-sm-4">
    <div class="color-block" style="background-color: #263238"></div>
    <div><span class="color-info">Variable:</span> $brand-inverse</div>
    <div><span class="color-info">Value:</span> #263238</div>
  </div>
</div>

<h2>Rainbow palette</h2>
<div class="row">
  <div class="col-lg-1 col-sm-4">
    <div class="color-block" style="background-color: #d9534f"></div>
    <div><span class="color-info">Variable:</span> $red</div>
    <div><span class="color-info">Value:</span> #d9534f</div>
  </div>
  <div class="col-lg-1 col-sm-4">
    <div class="color-block" style="background-color: #f0ad4e"></div>
    <div><span class="color-info">Variable:</span> $orange</div>
    <div><span class="color-info">Value:</span> #f0ad4e</div>
  </div>
  <div class="col-lg-1 col-sm-4">
    <div class="color-block" style="background-color: #ffd500"></div>
    <div><span class="color-info">Variable:</span> $yellow</div>
    <div><span class="color-info">Value:</span> #ffd500</div>
  </div>
  <div class="col-lg-1 col-sm-4">
    <div class="color-block" style="background-color: #5cb85c"></div>
    <div><span class="color-info">Variable:</span> $green</div>
    <div><span class="color-info">Value:</span> #5cb85c</div>
  </div>
  <div class="col-lg-1 col-sm-4">
    <div class="color-block" style="background-color: #2196f3"></div>
    <div><span class="color-info">Variable:</span> $blue</div>
    <div><span class="color-info">Value:</span> #2196f3</div>
  </div>
  <div class="col-lg-1 col-sm-4">
    <div class="color-block" style="background-color: #5bc0de"></div>
    <div><span class="color-info">Variable:</span> $teal</div>
    <div><span class="color-info">Value:</span> #5bc0de</div>
  </div>
  <div class="col-lg-1 col-sm-4">
    <div class="color-block" style="background-color: #ff5b77"></div>
    <div><span class="color-info">Variable:</span> $pink</div>
    <div><span class="color-info">Value:</span> #ff5b77</div>
  </div>
  <div class="col-lg-1 col-sm-4">
    <div class="color-block" style="background-color: #613d7c"></div>
    <div><span class="color-info">Variable:</span> $purple</div>
    <div><span class="color-info">Value:</span> #613d7c</div>
  </div>
</div>

<h2>Gray shades</h2>
<div class="row">
  <div class="col-lg-1 col-sm-4">
    <div class="color-block" style="background-color: #fff"></div>
    <div><span class="color-info">Variable:</span> $white</div>
    <div><span class="color-info">Value:</span> #fff</div>
  </div>
  <div class="col-lg-1 col-sm-4">
    <div class="color-block" style="background-color: #efefef"></div>
    <div><span class="color-info">Variable:</span> $gray-lightest</div>
    <div><span class="color-info">Value:</span> #efefef</div>
  </div>
  <div class="col-lg-1 col-sm-4">
    <div class="color-block" style="background-color: #e3e3e3"></div>
    <div><span class="color-info">Variable:</span> $gray-lighter</div>
    <div><span class="color-info">Value:</span> #e3e3e3</div>
  </div>
  <div class="col-lg-1 col-sm-4">
    <div class="color-block" style="background-color: #8E97A8"></div>
    <div><span class="color-info">Variable:</span> $gray-light</div>
    <div><span class="color-info">Value:</span> #8E97A8</div>
  </div>
  <div class="col-lg-1 col-sm-4">
    <div class="color-block" style="background-color: #2e3c44"></div>
    <div><span class="color-info">Variable:</span> $gray</div>
    <div><span class="color-info">Value:</span> #2e3c44</div>
  </div>
  <div class="col-lg-1 col-sm-4">
    <div class="color-block" style="background-color: #263238"></div>
    <div><span class="color-info">Variable:</span> $gray-dark</div>
    <div><span class="color-info">Value:</span> #263238</div>
  </div>
  <div class="col-lg-1 col-sm-4">
    <div class="color-block" style="background-color: #000"></div>
    <div><span class="color-info">Variable:</span> $black</div>
    <div><span class="color-info">Value:</span> #000</div>
  </div>
</div>
