<div class="page-header">
  <h1>Typefaces<span class="de-emphasize"> - Park</span></h1>
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item active">Typefaces</li>
  </ol>
</div>

<h2>OpenSans - sizes</h2>
<div class="row">
  <div class="col-sm-12 cold-lg-6">
    <div class="card card-block">
      <h1>H1 - The quick brown fox jumps over the lazy dog</h1>
      <h2>H2 - The quick brown fox jumps over the lazy dog</h2>
      <h3>H3 - The quick brown fox jumps over the lazy dog</h3>
      <h4>H4 - The quick brown fox jumps over the lazy dog</h4>
      <h5>H5 - The quick brown fox jumps over the lazy dog</h5>
      <h6>H6 - The quick brown fox jumps over the lazy dog</h6>
      <div>Regular - The quick brown fox jumps over the lazy dog</div>
    </div>
  </div>
</div>

<h2>OpenSans - weights</h2>
<div class="row">
  <div class="col-sm-12 cold-lg-6">
    <div class="card card-block">
      <h3 class="bold-text">Bold - The quick brown fox jumps over the lazy dog</h3>
      <h3 class="regular-text">Regular - The quick brown fox jumps over the lazy dog</h3>
      <h3 class="light-text">Light - The quick brown fox jumps over the lazy dog</h3>
    </div>
  </div>
</div>

<h2>Theme icons</h2>
<div class="row">
  <div class="col-sm-12 cold-lg-6">
      <div class="row">
        <div class="col-sm-1"><div class="card card-block">
          <div class="icon theme-icon-stats"></div>
          theme-icon-stats
        </div></div>
        <div class="col-sm-1"><div class="card card-block">
          <div class="icon theme-icon-list"></div>
          theme-icon-list
        </div></div>
        <div class="col-sm-1"><div class="card card-block">
          <div class="icon theme-icon-alert"></div>
          theme-icon-alert
        </div></div>
        <div class="col-sm-1"><div class="card card-block">
          <div class="icon theme-icon-search"></div>
          theme-icon-search
        </div></div>
        <div class="col-sm-1"><div class="card card-block">
          <div class="icon theme-icon-plus"></div>
          theme-icon-plus
        </div></div>
        <div class="col-sm-1"><div class="card card-block">
          <div class="icon theme-icon-minus"></div>
          theme-icon-minus
        </div></div>
        <div class="col-sm-1"><div class="card card-block">
          <div class="icon theme-icon-close"></div>
          theme-icon-close
        </div></div>
        <div class="col-sm-1"><div class="card card-block">
          <div class="icon theme-icon-checkmark"></div>
          theme-icon-checkmark
        </div></div>
        <div class="col-sm-1"><div class="card card-block">
          <div class="icon theme-icon-remove"></div>
          theme-icon-remove
        </div></div>
        <div class="col-sm-1"><div class="card card-block">
          <div class="icon theme-icon-add"></div>
          theme-icon-add
        </div></div>
        <div class="col-sm-1"><div class="card card-block">
          <div class="icon theme-icon-edit"></div>
          theme-icon-edit
        </div></div>
        <div class="col-sm-1"><div class="card card-block">
          <div class="icon theme-icon-step-backward"></div>
          theme-icon-step-backward
        </div></div>
        <div class="col-sm-1"><div class="card card-block">
          <div class="icon theme-icon-step-forward"></div>
          theme-icon-step-forward
        </div></div>
        <div class="col-sm-1"><div class="card card-block">
          <div class="icon theme-icon-chevron-left"></div>
          theme-icon-chevron-left, glyphicon-chevron-left
        </div></div>
        <div class="col-sm-1"><div class="card card-block">
          <div class="icon theme-icon-chevron-right"></div>
          theme-icon-chevron-right, glyphicon-chevron-right
        </div></div>
        <div class="col-sm-1"><div class="card card-block">
          <div class="icon theme-icon-chevron-up"></div>
          theme-icon-chevron-up
        </div></div>
        <div class="col-sm-1"><div class="card card-block">
          <div class="icon theme-icon-chevron-down"></div>
          theme-icon-chevron-down
        </div></div>
        <div class="col-sm-1"><div class="card card-block">
          <div class="icon theme-icon-mail"></div>
          theme-icon-mail
        </div></div>
        <div class="col-sm-1"><div class="card card-block">
          <div class="icon theme-icon-notification"></div>
          theme-icon-notification
        </div></div>
        <div class="col-sm-1"><div class="card card-block">
          <div class="icon theme-icon-zoom-in"></div>
          theme-icon-zoom-in
        </div></div>
        <div class="col-sm-1"><div class="card card-block">
          <div class="icon theme-icon-zoom-out"></div>
          theme-icon-zoom-out
        </div></div>
        <div class="col-sm-1"><div class="card card-block">
          <div class="icon theme-icon-star"></div>
          theme-icon-star
        </div></div>
        <div class="col-sm-1"><div class="card card-block">
          <div class="icon theme-icon-star-o"></div>
          theme-icon-star-o
        </div></div>
        <div class="col-sm-1"><div class="card card-block">
          <div class="icon theme-icon-cards"></div>
          theme-icon-cards
        </div></div>
        <div class="col-sm-1"><div class="card card-block">
          <div class="icon theme-icon-question"></div>
          theme-icon-question
        </div></div>
        <div class="col-sm-1"><div class="card card-block">
          <div class="icon theme-icon-info"></div>
          theme-icon-info
        </div></div>
        <div class="col-sm-1"><div class="card card-block">
          <div class="icon theme-icon-exclamation"></div>
          theme-icon-exclamation
        </div></div>
      </div>
  </div>
</div>
