@import "../../../../assets/styles/variables";

:host {
  height: auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;

  &[disabled] {
    background-color: $input-bg-disabled;
    cursor: not-allowed;

    input {
      background-color: inherit;
    }

    .btn.badge {
      opacity: 0.5;
    }
  }

  .dropdown-toggle {
    position: absolute;
    bottom: $spacer-y;
    right: $spacer-x;
  }

  .btn.badge {
    white-space: nowrap;
    margin-right: $spacer-x / 4;
    margin-top: $spacer-y / 4;
  }

  input {
    margin-top: $spacer-y / 4;
    border: none;
    outline: 0;
    flex: 1;
    padding-right: $spacer-x;
  }
}
