@import 'variables';

.btn, .list-group-item, .icon-container {
  &[class^="theme-icon-"], &[class*=" theme-icon-"],
  &[class^="app-icon-"], &[class*=" app-icon-"]{
    &:before {
      padding-right: $spacer-x / 2;
      line-height: 0.9;
    }
    &:empty:before {
      padding: 0;
    }

    &.align-icon-right:before {
      padding-left: $spacer-x / 2;
      padding-right: 0;
      float: right;
    }
  }
}

.btn[class^="theme-icon-"]:before, .btn[class*=" theme-icon-"]:before,
.btn[class^="app-icon-"]:before, .btn[class*=" app-icon-"]:before {
  float: left;
  line-height: 1.3;
}

.btn-toolbar {
  margin-bottom: $btn-toolbar-margin;
}

.btn-group label.btn {
  margin-bottom: 0;
}

@mixin group-button-variant($background, $color) {
  &:not(.active) {
    color: $color;
    background-color: $background;
    cursor: pointer;
  }
}

.btn-group {
  @each $color, $value in $theme-colors {
    label.btn-#{$color} {
      @include group-button-variant($value, color-yiq($value));
    }
  }
}
