@import 'variables';
@import '../../../node_modules/bootstrap/scss/mixins.scss';

@mixin card-top-border($color) {
  border-top: $theme-accent-width solid $color;
}

@each $color, $value in $theme-colors {
  .card-accent-#{$color} {
    @include card-top-border($value);
  }
}
.card-header-primary .card-header{
  background-color: $brand-primary;
}
.card-header-secondary .card-header{
  background-color: $theme-card-header-secondary;
}
.card-header-info .card-header{
  background-color: $brand-info;
}
.card-header-success .card-header{
  background-color: $brand-success;
}
.card-header-warning .card-header{
  background-color: $brand-warning;
}
.card-header-danger .card-header{
  background-color: $brand-danger;
}

.card {
  margin-bottom: $grid-gutter-width-base;
  box-shadow: $theme-card-shadow;
}

// Overrides

.card-header {


  & > i {
    margin-right: $grid-gutter-width-base;
    vertical-align: middle;
  }
}
.card-toolbar > .btn, .card-header > .btn {
  padding: $grid-gutter-width-base / 2 $grid-gutter-width-base;
}

$toolbarWidth: 1rem + 5/1.5 * $grid-gutter-width-base;

.card-toolbar {
  flex: 0 0 $toolbarWidth;
  padding: $grid-gutter-width-base;
  border-left: solid $card-border-width $card-border-color;

  .btn {
    padding: $grid-gutter-width-base / 1.5;
  }

  .btn + .btn {
    margin-top: $grid-gutter-width-base;
  }
}
.card-content {
  flex: 1;
}
.card.card-with-toolbar {
  flex-direction: row;

  .card-footer {
    background-color: inherit;
  }
}

.btn-link-footer,
.btn-link-footer:hover,
.btn-link-footer:focus
{
  font-weight: $card-footer-font-weight;
  text-decoration: none;
  padding: 0 $btn-padding-x-sm;
}
