@import "_colorPalette";
// color definitions for document

// general page palette
@background: @color_7;
@color: @color_2;
@header_background: @color_2;
@header_color: @color_7;
@focus_color: @color_12;
@content_background: @color_7;
@nav_background: @color_3;
