$greentube_blue_01: #00285e; // top gradient
$greentube_blue_02: #005996;
$greentube_blue_03: #0080bf; // bottom gradient
$greentube_blue_04: #43c7f4;

$greentube_green_01: #a0cf67;
$greentube_green_02: #bcd75e;
$greentube_green_03: #dce069;
$greentube_green_04: #f0eb82;

$greentube_gray_01: #231f20;
$greentube_gray_02: #404041;
$greentube_gray_03: #b1b3b5;
$greentube_gray_04: #e3e3e3;

$menu_gray_01: #263238;

$black: #000000;
$white: #ffffff;
$transparent: rgba(0,0,0,0);

$nrgs_01: $greentube_gray_01;
$nrgs_02: #2C3334;
$nrgs_gray_light: #8E97A8;
$nrgs_lightest_gray: #f5f5f5;
