@color_0: #000000;
@color_1: #263343;
@color_2: #303641; 
@color_3: #3B404C;
@color_4: #8E97A8;
@color_5: #A6A6B5;
@color_6: #ECECEE;
@color_7: #ffffff;

@color_transparent: rgba(0,0,0,0);

@color_10: #3BA0CC;
@color_11: #BA514B;
@color_12: #ACC766;
@color_13: #FADC40;
@color_14: #D8B5DF;
@color_15: #FA8B60;

@color_16: #00B5AD;
