@import 'colors';
@import 'typography';
@import '../../../node_modules/bootstrap/scss/variables.scss';

.main-content {
  background-color: $nrgs_05;
}

.page-header {
  display: flex;
  padding-bottom: $spacer-y;

  h1 {
    flex: 1;
  }
}

.de-emphasize {
  @include fontRegular();
}
.thinner {
  @include fontLight();
}