@import 'colors';
@import 'typography';
@import 'variables';
@import '../../../node_modules/bootstrap/scss/variables.scss';

// Content colors

.main-content {
  background-color: $gray-lightest;
}

.page-header {
  display: flex;
  margin: (-$spacer-y) (-$spacer-x) $spacer-y;
  padding: $spacer-y;
  background: $breadcrumb-bg;
  box-shadow: $breadcrumb-shadow;

  h1 {
    flex: 1;
    margin: 0;
  }
}

// Tag overrides

.badge-pill {
  border-radius: $nav-pills-border-radius;
}

.badge {
  line-height: 1.5;
}

// Tabs

.tab-content {
  background: $nrgs-tab-content-bg;
  border-right: $nrgs-tab-border-color solid $card-border-width;
  border-bottom: $nrgs-tab-border-color solid $card-border-width;
  border-left: $nrgs-tab-border-color solid $card-border-width;
}
.nav-tabs .nav-link {
  line-height: 1;
}
.nav-tabs .nav-item + .nav-item {
  margin-left: 0;
}

// List group

.list-group-item i.float-left, .list-group-item span.float-left{
  margin-right: $grid-gutter-width-base;
}
.list-group-item i.float-right, .list-group-item span.float-right {
  margin-left: $grid-gutter-width-base;
}

// Pagination
.pagination {
  margin: 0;
}
.page-link {
  min-width: 2 * $spacer-x + $font-size-base;
  text-align: center;
}

// Special text styles

.de-emphasize {
  @include fontRegular();
}
.thinner {
  @include fontLight();
}
