@import 'variables';
@import '../../../node_modules/bootstrap/scss/variables.scss';
@import '../../../node_modules/bootstrap/scss/mixins.scss';

.form-control {
  font-size: $nrgs-input-font-size;
  margin-bottom: $spacer-y;
}

.custom-select {
  @include box-shadow($input-box-shadow);
}

input + .custom-control-indicator {
  border: $input-btn-border-width solid $input-border-color;
}

ngb-rating.form-control {
  border: none;
  box-shadow: none;
  padding: 0;
  font-size: $nrgs-input-font-size * 2;

  span {
    color: $input-color;
  }
}

.ng-invalid {
  border-color: $brand-danger;

  &:not([disabled]) + .custom-control-indicator {
    border-color: $brand-danger;
  }
}
ngb-rating.ng-invalid.form-control span {
  color: $brand-danger;
}
ngb-rating.form-control[readonly] {
  background: none;

  span {
    color: $input-bg-disabled;
  }
}


