@import 'variables';
@import 'typography';
@import 'animations';
@import '../../../node_modules/bootstrap/scss/_variables.scss';
@import '../../../node_modules/bootstrap/scss/_mixins.scss';

.form-control {
  font-size: $theme-input-font-size;
  margin-bottom: $spacer-y;

  &.expandable-control {
    width: 15rem;
    display: inline-flex;
    margin-bottom: 0;
    transition: all $animation-duration ease-in-out;

    &:focus {
      width: 100%;
    }
  }
}

.form-footer {
  padding-top: $spacer-y;
  border-top: $table-border-color solid $table-border-width;
}

fieldset {
  border: $table-border-color solid $table-border-width;
  padding: $spacer-y $spacer-x;
  margin: $spacer-y 0;
}

fieldset.form-fieldset {
  margin: ($spacer-y / 2) 0 0;

  legend {
    padding-left: 0;
    margin-left: -$spacer-x;
  }
}

legend {
  font-size: $font-size-h6;
  width: auto;
  padding: 0 $spacer-x / 2;
  margin-bottom: 0;
}

.filter-search {
  background-repeat: no-repeat;
  background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='80%' width='80%'><g transform='translate(8,8)' stroke-width='2' stroke='" + $input-color-placeholder + "' fill='none'><path d='M11.29 11.71l-4-4'/><circle cx='5' cy='5' r='4'/></g></svg>");
  padding-left: $spacer-x * 3;
}

.table-control {
  margin-bottom: 0;
  box-shadow: none;

  .custom-control-indicator {
    box-shadow: none;
  }
}

textarea, highlightarea {
  min-height: 8rem;
}

.form-label {
  @include fontBold();
  margin-bottom: $spacer-y / 2;
  font-size: $theme-input-font-size * 0.8;
  color: $input-color;
}

.custom-control-input ~ .custom-control-description {
  padding-left: $spacer-x;
}

.custom-select {
  @include box-shadow($input-box-shadow);
  width: 100%;
}

input[type=number] {
  text-align: right;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }
}

input + .custom-control-indicator {
  border: $input-btn-border-width solid $input-border-color;
}

.ng-invalid {
  border-color: $brand-danger;

  &:not([disabled]) + .custom-control-indicator {
    border-color: $brand-danger;
  }
}

.tooltip.in {
  opacity: 1;
}

.infoTooltip {
  .tooltip-inner {
    background: $theme-tooltip-info-color;
  }

  &.bs-tooltip-bottom .tooltip-inner::before {
    border-bottom-color: $theme-tooltip-info-color;
  }
  &.bs-tooltip-top .tooltip-inner::before {
    border-top-color: $theme-tooltip-info-color;
  }
  &.bs-tooltip-left .tooltip-inner::before {
    border-left-color: $theme-tooltip-info-color;
  }
  &.bs-tooltip-right .tooltip-inner::before {
    border-right-color: $theme-tooltip-info-color;
  }
}

rating {
  font-size: 1.5rem;
  cursor: pointer;

  .theme-icon-star {
    color: $brand-primary;
  }
}

datepicker {
  @include fontRegular();

  .card {
    padding: $spacer-y $spacer-x;
  }

  .btn {
    box-shadow: none;
    width: 100%;
    padding: .5rem;
  }
  .btn-default {
    background: $theme-datepicker-bg;
    border: 1px solid $btn-secondary-border;
  }

  .btn-info {

    &.active { box-shadow: none; }
    .text-info { color: $theme-datepicker-bg !important; }
  }
}

/** Infield */
.infield-label-wrapper {
  display: block;
  width: 100%;
  position: relative;

  .form-control {
    transition: all $animation-duration ease-in-out;
    margin-bottom: 0;
  }
}
.infield-label, .infield-text {
  position: absolute;
  top: $spacer-y;
  font-size: $theme-input-font-size;
  color: $input-color-placeholder;
  pointer-events: none;
}
.infield-label {
  left: $spacer-x;
  transition: all $animation-duration ease-in-out;
}
.infield-text {
  right: $spacer-x;
  line-height: $input-line-height;
}
.infield-label-active {
  .form-control {
    padding-top: $spacer-y * 1.5;
    padding-bottom: $spacer-y * 0.5;
  }
  .infield-text {
    top: $spacer-y * 1.5;
  }
  .infield-label {
    top: $spacer-y * 0.5;
    font-size: $theme-input-font-size * 0.75;
  }
}
.infield-label-masked {
  .form-control {
    padding-right: $spacer-x * 2.25;
  }
}


