@import 'variables';
@import 'typography';
@import '../../../node_modules/bootstrap/scss/_variables.scss';
@import '../../../node_modules/bootstrap/scss/_mixins.scss';

.form-control {
  font-size: $theme-input-font-size;
  margin-bottom: $spacer-y;
}

.custom-select {
  @include box-shadow($input-box-shadow);
}

input + .custom-control-indicator {
  border: $input-btn-border-width solid $input-border-color;
}

.ng-invalid {
  border-color: $brand-danger;

  &:not([disabled]) + .custom-control-indicator {
    border-color: $brand-danger;
  }
}

.tooltip.in {
  opacity: 1;
}

rating {
  font-size: 1.5rem;

  .app-icon-star {
    color: $yellow;
  }
}

datepicker {
  @include fontRegular();

  .card {
    padding: $spacer-y $spacer-x;
  }

  .btn {
    box-shadow: none;
    width: 100%;
    padding: .5rem;
  }
  .btn-default {
    background: $white;
    border: 1px solid $btn-secondary-border;
  }

  .btn-info {

    &.active { box-shadow: none; }
    .text-info { color: $white !important; }
  }
}


