@import 'variables';
@import 'animations';
@import 'typography';
@import '../../../node_modules/bootstrap/scss/mixins/breakpoints.scss';

header {
  padding: 0 !important;
  flex-direction: row !important;

  .container-fluid {
    padding: 0;
  }

  .navbar-brand {
    width: $theme-side-nav-width;
    flex: 0 0 $theme-side-nav-width;
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
  }

  @include media-breakpoint-down(sm) {
    .navbar-brand {
      flex: auto;
    }
  }

  .navbar-toggler {
    float: left;
  }
}

header.navbar {
  color: $theme-header-color;

  .search-control {
    color: $theme-header-color;
    background: inherit;
    border: none;
    padding: $spacer-y / 2 $spacer-x $spacer-y / 2 $spacer-x * 3;
    background: mix($theme-header-color, rgba(0,0,0,0), 10);
    transition: all $animation-duration ease-in-out;

    &:focus {
      flex: auto;
    }
  }

  .search-icon {
    margin-right: -2 * $spacer-x;
  }

  .search-form {
    padding-left: $spacer-x;
    flex: auto;
  }

  .navbar-brand {
    @include fontBold();
    padding: $spacer-y / 4 $spacer-x;
  }

  .navbar-toggler {
    border: none;
  }

  .logo {
    height: $theme-logo-size;
    display: inline-block;
  }

  .nav-item > button {
    font-size: $theme-icon-size;
    padding: $spacer-x $spacer-y;

    &[disabled] {
      opacity: $theme-disabled-opacity;
      cursor: not-allowed;
    }

    &.active {
      text-shadow: $theme-header-pronounced-shadow;
    }

    &.error:after {
      color:white;
      background: red;
    }
  }

  .header-badge:after {
    color: $white;
    background: $brand-info;
    border-radius: $nav-pills-border-radius;
    font-size: $font-size-xs;
    @include fontLight();
    position: absolute;
    top: $spacer-y / 2;
    right: $spacer-x / 2;
    padding: 0 $spacer-x / 2;

    content: attr(data-content);
  }

  .header-badge-error:after {
    background: $brand-danger;
  }

  .header-badge-success:after {
    background: $brand-success;
  }
}

