@import 'colors';
@import '../../../node_modules/bootstrap/scss/variables.scss';

header.navbar {
  .navbar-brand {
    background: $nrgs_02;
    padding: $spacer;
    color: $white;
    @include fontBold();
    font-size: 1rem;
  }

  .logo {
    background: url('../images/logo.svg') no-repeat center;
    width: 1rem;
    height: 1rem;
    display: inline-block;
  }

  .nav-item > button {
    font-size: 1rem;
    padding: $spacer-x $spacer-y;
  }
}

