@import 'variables';
@import 'animations';
@import '../../../node_modules/bootstrap/scss/mixins/breakpoints.scss';

app {
  display: flex;
  height: 100%;
  flex-direction: column;
}

p {
  margin-bottom: $grid-gutter-width-base;
}

header {
  padding: 0 !important;
  flex-direction: row !important;

  .container-fluid {
    padding: 0;
  }

  .navbar-brand {
    width: $theme-side-nav-width;
    flex: 0 0 $theme-side-nav-width;
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
  }

  @include media-breakpoint-down(sm) {
    .navbar-brand {
      flex: auto;
    }
  }

  .navbar-toggler {
    float: left;
  }
}

footer {
  border-top: 1px solid $gray-dark;
}

main {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.btn, .list-group-item, .icon-container {
  &[class^="theme-icon-"], &[class*=" theme-icon-"] {
    &:before {
      padding-right: $spacer-x / 2;
      line-height: 0.9;
    }
    &:empty:before {
      padding: 0;
    }

    &.align-icon-right:before {
      padding-left: $spacer-x / 2;
      padding-right: 0;
      float: right;
    }
  }
}

.btn[class^="theme-icon-"]:before, .btn[class*=" theme-icon-"]:before {
  float: left;
  line-height: 1.3;
}

.btn-toolbar {
  margin-bottom: $btn-toolbar-margin;
}

#main-nav {
  flex: 0 0 $theme-side-nav-width;
  width: $theme-side-nav-width;
  overflow-y: auto;
  overflow-x: hidden;
  display: block;
  @include animateProperty();

  .nav-link-text {
    @include animateProperty();
  }

  @include media-breakpoint-up(sm) {

    &.collapsed {
      width: $theme-side-nav-collapsed-width;
      flex: 0 0 $theme-side-nav-collapsed-width;

      .nav-link-text {
        opacity: 0;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    transform: translate3d(-$theme-side-nav-width, 0, 0);

    & + .main-content {
      transform: translate3d(-$theme-side-nav-width, 0, 0);
      margin-right: -$theme-side-nav-width;
      @include animateProperty();
    }

    &.collapsed {
      transform: translate3d(0, 0, 0);

      & + .main-content {
        transform: translate3d(0, 0, 0);
      }
    }
  }
}

.main-content {
  flex: 1;
  overflow: auto;
  position: relative;

  & > .container-fluid {
    padding: $grid-gutter-width-base $grid-gutter-width-base;
  }
}

aside.main-aside {
  flex: 0 0 $theme-side-nav-width;
  display: none;

  @include media-breakpoint-up(sm) {
    display: block;
  }
}

.tab-content {
  padding: $grid-gutter-width-base $grid-gutter-width-base;
}

.page {
  display: block;

  @include animate(1s);
  @include runAnimation(fadeIn);

  & > h1, & > h2, & > h3, & > h4, & > h5, & > h6 {
    margin-top: $spacer-y;
    margin-bottom: $spacer-y;
  }
}

.alert-dismissible .close {
  position: absolute;
  top: 0;
  right: 0;
}
