@import 'variables';
@import 'animations';
@import '../../../node_modules/bootstrap/scss/mixins/breakpoints.scss';

app {
  display: flex;
  height: 100%;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: $theme-scrollbar-size;
  height: $theme-scrollbar-size;
}
::-webkit-scrollbar-thumb {
  border-radius: $theme-scrollbar-size / 2;
  background: $theme-scrollbar-thumb;
}
::-webkit-scrollbar-track {
  background: $theme-scrollbar-track;
}
:focus {
  outline: none;
}

p {
  margin-bottom: $grid-gutter-width-base;
}

main {
  display: flex;
  flex: 1;
  overflow: hidden;
}

#main-nav {
  flex: 0 0 $theme-side-nav-width;
  width: $theme-side-nav-width;
  overflow-y: auto;
  overflow-x: hidden;
  display: block;
  @include animateProperty();

  .nav-link-text {
    @include animateProperty();
  }

  @include media-breakpoint-up(sm) {

    &.collapsed {
      width: $theme-side-nav-collapsed-width;
      flex: 0 0 $theme-side-nav-collapsed-width;

      .nav-link-text {
        opacity: 0;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    transform: translate3d(-$theme-side-nav-width, 0, 0);

    & + .main-content {
      transform: translate3d(-$theme-side-nav-width, 0, 0);
      margin-right: -$theme-side-nav-width;
      @include animateProperty();
    }

    &.collapsed {
      transform: translate3d(0, 0, 0);

      & + .main-content {
        transform: translate3d(0, 0, 0);
      }
    }
  }
}

.main-content {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;

  & > .container-fluid {
    padding: $grid-gutter-width-base $grid-gutter-width-base;
    height: 100%;
  }
}

aside.main-aside {
  flex: 0 0 $theme-side-nav-width;
  display: none;
  box-shadow: $theme-aside-shadow;
  z-index: $theme-standard-z;
}

.tab-content {
  padding: $grid-gutter-width-base $grid-gutter-width-base;
}

.page {
  display: block;

  @include animate(1s);
  @include runAnimation(fadeIn);

  & > h1, & > h2, & > h3, & > h4, & > h5, & > h6 {
    margin-top: $spacer-y;
    margin-bottom: $spacer-y;
  }
}

.alert-dismissible .close {
  position: absolute;
  top: 0;
  right: 0;
}

.link {
  text-decoration: underline;
  @include fontBold();
  color: $brand-primary;
  padding: 0;
}
