@import 'typography';
@import 'variables';

$table-border-mixin: $table-border-width solid $table-border-color;

/********************************
      Generic table
***********************************/

.table {
  thead, tfoot,
  .datatable-header,
  .datatable-footer {
    color: $table-head-color;
    font-size: $font-size-sm;
    height: unset !important;
  }

  .datatable-body .datatable-scroll {
    display: unset !important;
  }

  .datatable-body-row:hover {
    background: $table-hover-bg;
  }

  .datatable-row-center {
    transform: unset !important; // header breaking transform
  }

  .datatable-footer-inner {
    height: unset !important;
  }

  .ngx-datatable {
    .datatable-header,
    .datatable-footer {
      overflow: visible;
    }

    .datatable-header-cell {
      overflow: visible;

      & > div {
        display: flex;
      }
    }
  }

  .datatable-header-cell, .datatable-body-cell, .datatable-footer {
    padding: $spacer-y $spacer-x;
  }

  .datatable-body-cell {
    border-top: $table-border-mixin;
    vertical-align: top;
  }

  .datatable-row-wrapper:last-child .datatable-body-cell {
    border-bottom: $table-border-mixin;
  }

  .datatable-header-cell .sort-btn {
    padding: $spacer-y $spacer-x / 2;
    color: $brand-primary;
  }

  thead th, .datatable-header-cell {
    vertical-align: top;
    text-align: left;
    padding-top: $spacer-y;
    padding-bottom: $spacer-y;
    border-top: none;
    border-bottom: none;

    .form-control {
      box-shadow: none;
      margin-bottom: 0;
    }
  }

  th, td {
    vertical-align: middle;
  }

  caption {
    caption-side: top;
    vertical-align: middle;

    h6 {
      line-height: $theme-table-caption-line-height;
    }
  }

  tbody.ng-invalid {
    background: mix($brand-danger, transparent);
  }

  textarea {
    $min_text_size: $font-size-base * $input-line-height + 2 * $spacer-y;

    min-height: $min_text_size;
    height: $min_text_size;
  }

  .pager a {
    padding: $spacer-y $spacer-x;
  }

  .datatable-pager {
    ul li {
      &:not(.disabled) {
        color: $table-head-color;

        &:hover a {
          background-color: darken(theme-color("secondary"), 10%);
          color: color-yiq(theme-color("secondary"));
        }
        &.active a {
          background-color: theme-color();
          color: color-yiq(theme-color());
          @include fontBold();
        }
      }
      &.disabled {
        opacity: 0.5;

        a:hover {
          color: unset;
        }
      }

      a {
        min-width: 1.5rem;
        text-decoration: none;
        vertical-align: bottom;
      }
    }
  }

  rating {
    font-size: 1.2rem;
  }
}

.btn-table {
  padding: $spacer-sm;
  font-size: $font-size-sm;
  line-height: 1;
  box-shadow: none;
  text-align: center;

  // enlarge icon on button
  &:before { font-size: 1rem; }
}

/**************************************
  Theme styled table (should be used in combination with `table-stripped` and `table`)
***************************************/

.theme-table {
  border: $table-border-mixin;

  .ngx-datatable {
    overflow-x: auto !important;
    box-sizing: border-box;
  }

  &.ng-invalid {
    border-color: $brand-danger;
  }

  caption {
    border-top: $table-border-mixin;
    border-left: $table-border-mixin;
    border-right: $table-border-mixin;
  }
}

/**************************************
  Table small
***************************************/

.table-sm {
  .datatable-header-cell, .datatable-body-cell, .datatable-footer {
    padding: $table-sm-cell-padding;
  }

  .datatable-header-cell .sort-btn {
    padding: $table-sm-cell-padding;
  }
}

/**************************************
  Table bordered
***************************************/

.table-bordered {
  .datatable-header-cell, .datatable-body-cell, .datatable-footer {
    border: $table-border-mixin;
  }
}

/***************************************
 Table inverse, default -> colors
****************************************/

.table-inverse {
  .badge-primary {
    background: color-yiq(theme-color());
    color: theme-color();
  }
}

.thead-inverse {
  .datatable-header-cell, .datatable-footer-cell {
    color: color-yiq($table-inverse-bg);
    background-color: $table-inverse-bg;
  }
}

.thead-default {
  .datatable-header-cell, .datatable-footer-cell {
    color: $table-head-color;
    background-color: $table-head-bg;
  }
}

/***************************************
 Table striped
****************************************/
.table-striped {
  .datatable-row-even {
    background-color: $table-bg-accent;
  }
}

/***************************************
 Table sorting & resizing
****************************************/

//ngx-datatable datatable-header
.datatable-header-cell.sortable .sort-btn:not(.sort-asc):not(.sort-desc) {
  color: color-yiq(theme-color());

  &:before {
    content: "\f079";
    font-family: 'themeicons', monospace;
  }
}

.datatable-header-cell.sortable:hover .sort-btn:not(.sort-asc):not(.sort-desc) {
  color: inherit;
}

// override stupid style
.ngx-datatable .datatable-header .datatable-header-cell:not(.sortable) .sort-btn {
  display: none;
}

.datatable-header-cell .resize-handle {
  padding: 0 $spacer-x / 2;

  &:hover {
    visibility: visible;
  }

  visibility: visible;

  &:before {
    content: "\e5d4";
    font-family: 'themeicons', monospace;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -$spacer-y;
    margin-left: -$spacer-x / 3;
    text-align: center;
  }
}

/***************************************
 Table header info
****************************************/

.th-info {
  cursor: pointer;
  position: relative;

  &:after {
    color: color-yiq(theme-color());
    background: theme-color();
    border-radius: 50%;
    padding: $badge-pill-padding-x / 2 $badge-pill-padding-x;
    content: '\f129';
    font-family: 'themeicons', monospace;
    font-size: $font-size-xs / 2;
  }
}

/*** Maybe needed */

.table .row {
  margin: 0;
}

.card > .table {
  margin: 0;
}
