@import 'typography';
@import 'variables';

$table-border-mixin: $table-border-width solid $table-border-color;

/********************************
      Generic table
***********************************/

.table {
  thead, tfoot,
  .datatable-header,
  .datatable-footer {
    color: $table-head-color;
    font-size: $font-size-sm;
  }

  .datatable-header-cell, .datatable-body-cell, .datatable-footer-cell {
    padding: $spacer-y $spacer-x;
    border-top: $table-border-mixin;
    vertical-align: top;
  }

  .datatable-header-cell .sort-btn {
    padding: $spacer-y $spacer-x;
    color: $brand-primary;
  }

  thead th, .datatable-header-cell {
    vertical-align: top;
    text-align: left;
    padding-top: $spacer-y;
    padding-bottom: $spacer-y;
    border-top: none;
    border-bottom: none;
  }

  th, td {
    vertical-align: middle;
  }

  caption {
    caption-side: top;
    vertical-align: middle;

    h6 {
      line-height: $theme-table-caption-line-height;
    }
  }

  tbody.ng-invalid {
    background: mix($brand-danger, transparent);
  }

  textarea {
    $min_text_size: $font-size-base * $input-line-height + 2 * $spacer-y;

    min-height: $min_text_size;
    height: $min_text_size;
  }
}

.btn-table {
  padding: $spacer-sm;
  font-size: $font-size-sm;
  line-height: 1;
  box-shadow: none;
  text-align: center;

  // enlarge icon on button
  &:before { font-size: 1rem; }
}

/**************************************
  Theme styled table (should be used in combination with `table-stripped` and `table`)
***************************************/

.theme-table {
  border: $table-border-mixin;

  &.ng-invalid {
    border-color: $brand-danger;
  }

  caption {
    border-top: $table-border-mixin;
    border-left: $table-border-mixin;
    border-right: $table-border-mixin;
  }
}

/**************************************
  Table small
***************************************/

.table-sm {
  .datatable-header-cell, .datatable-body-cell, .datatable-footer-cell, .datatable-header-cell .sort-btn {
    padding: $table-sm-cell-padding;
  }
}

/**************************************
  Table bordered
***************************************/

.table-bordered {
  .datatable-header-cell, .datatable-body-cell, .datatable-footer-cell {
    padding: $table-border-mixin;
  }
}

/***************************************
 Table inverse, default -> colors
****************************************/

.table-inverse {
  .badge-primary {
    background: $badge-color;
    color: $badge-primary-bg;
  }
}

.thead-inverse {
  .datatable-header-cell, .datatable-footer-cell {
    color: $table-inverse-color;
    background-color: $table-inverse-bg;
  }
}

.thead-default {
  .datatable-header-cell, .datatable-footer-cell {
    color: $table-head-color;
    background-color: $table-head-bg;
  }
}

/***************************************
 Table striped
****************************************/
.table-striped {
  .datatable-row-even {
    background-color: $table-bg-accent;
  }
}

/***************************************
 Table sorting
****************************************/

//ngx-datatable datatable-header
.datatable-header-cell.sortable .sort-btn:not(.sort-asc):not(.sort-desc) {
  color: inherit;

  &:before {
    content: "\f079";
    font-family: 'themeicons';
  }
}

.datatable-header-cell .sort-btn {
  float: right;
}

/***************************************
 Table header info
****************************************/

.th-info {
  cursor: pointer;
  position: relative;

  &:after {
    color: $brand-info;
    border-radius: $border-radius;
    padding: $badge-pill-padding-x;
    content: '\f129';
    font-family: 'themeicons';
    font-size: $font-size-xs;
  }

  .th-info-content {
    position: absolute;
    top: 0;
    left: 100%;
    display: none;
    padding: $spacer-y / 2 $spacer-x / 2;
    border: $table-border-mixin;
    background: $badge-default-bg;
    color: $badge-color;
    box-shadow: $theme-card-shadow;
    white-space: nowrap;
    z-index: $zindex-tooltip;
  }

  &:hover {
    .th-info-content {
      display: block;
    }
  }
}


/*
Sortable rows need an default icon so that user is aware which columns are sortable
Using icon from the same set as the rest of the table (@swimlane/ngx-datatable/release/assets/icons.css)
*/



/*** Maybe needed */

.table .row {
  margin: 0;
}

