@font-face {
    font-family: 'Roboto-Regular';
    src: url('./fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('./fonts/Roboto-Bold.ttf');
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('./fonts/Roboto-Light.ttf');
}
@mixin fontRegular() {
    font-family: 'Roboto-Regular', sans-serif;
}
@mixin fontBold() {
    font-family: 'Roboto-Bold', sans-serif;
}
@mixin fontLight() {
    font-family: 'Roboto-Light', sans-serif;
}