@mixin fontRegular() {
  font-family: 'OpenSans-Regular', sans-serif;
}
@mixin fontBold() {
  font-family: 'OpenSans-Bold', sans-serif;
}
@mixin fontLight() {
  font-family: 'OpenSans-Light', sans-serif;
}
