@import 'typography';


/********************************
    Custom theme values
*********************************/
// Colors
$greentube_blue_01: #00285e; // top gradient
$greentube_blue_02: #005996;
$greentube_blue_03: #0080bf; // bottom gradient
$greentube_blue_04: #43c7f4;

$greentube_green_01: #a0cf67;
$greentube_green_02: #bcd75e;
$greentube_green_03: #dce069;
$greentube_green_04: #f0eb82;

$greentube_gray_01: #231f20;
$greentube_gray_02: #404041;
$greentube_gray_03: #b1b3b5;
$greentube_gray_04: #e3e3e3;

$black:  #000000;
$white:  #ffffff;
$red:    #d9534f;
$orange: #f0ad4e;
$yellow: #ffd500;
$green:  $greentube_green_01;
$blue:   #2196f3;
$teal:   #5bc0de;
$pink:   #ff5b77;
$purple: #613d7c;

// Colors
$gray-dark:                 #263238;
$gray:                      #2e3c44;
$gray-light:                #8E97A8;
$gray-lighter:              #e3e3e3;
$gray-lightest:             #efefef;

$brand-primary:             $blue;
$brand-success:             $green;
$brand-info:                $teal;
$brand-warning:             $orange;
$brand-danger:              $red;
$brand-inverse:             $gray-dark;
$brand-secondary:           $gray-lighter;

// Defined colors
$theme-tab-content-bg: $white;
$theme-datepicker-bg: $white;
$theme-border-color: rgba($black,.17);
$theme-menu-bg: $gray;
$theme-header-color: $gray-lightest;
$theme-info-color: $gray-light;
$theme-info-color-info: $gray-lightest;
$theme-info-popup-background: $gray-dark;
$theme-info-popup-border: $theme-border-color;
$theme-card-header-secondary: $gray-lighter;

$theme-card-shadow: 1px 1px 5px 0 rgba($black,.2);
$theme-disabled-opacity: 0.5;

// Overridden value
$spacer:   0.625rem;

// Values
$theme-spinner-z: 1000;
$theme-dev-info-z: 100;
$theme-standard-z: 10;
$theme-side-nav-width: 14rem;
$theme-side-nav-collapsed-width: 3rem;
$theme-accent-width: 0.2rem;
$theme-input-font-size: 0.875rem;
$spacer-sm: $spacer / 2;

// Rating
$theme-rating-full: $brand-warning;

// MAP
// $theme-map-bg: $gray-light;
// $theme-map-line-color: $gray-dark;
// $theme-map-country-bg: $gray-lightest;

$theme-map-bg: transparent;
$theme-map-line-color: $white;
$theme-map-country-bg: $gray-light;

// GRAPH
$theme-graph-background: transparent;
$theme-graph-color: $black;
$theme-graph-up: $brand-success;
$theme-graph-down: $brand-danger;

// STATE
$theme-state-background: white;
$theme-state-empty-color: $gray-lighter;
$theme-state-full-color: $green;
$theme-state-half-color: $orange;
$theme-state-block-height: 1rem;
$theme-state-block-width: 0.8rem;

// TABLE
$theme-table-caption-line-height: 1.6;

// WIZARD
$theme-wizard-border-color: $theme-border-color;
$theme-wizard-background: $white;
$theme-wizard-bullet-bg: $white;

// ERROR
$theme-error-page-color: $white;
$theme-error-page-top-bg: $gray-dark;
$theme-error-page-bottom-bg: $gray;
$theme-error-page-glow: mix(transparent, $white, 30%);
$theme-error-page-glow_light: mix(transparent, $white, 70%);

// ACTION LOG
$theme-action-log-background: $white;
$theme-action-log-header-inverse: $white;
$theme-aside-shadow: -2px 0 2px 0 rgba($black,.08), 0 3px 10px 2px rgba($black,.12);

// SCROLLBAR
$theme-scrollbar-thumb: mix(transparent, $brand-primary, 60%);
$theme-scrollbar-track: mix(transparent, $black, 90%);
$theme-scrollbar-size: $spacer;

// BADGE
$theme-badge-spacing: $spacer / 4;

// HEADER
$theme-logo-size: 2rem;
$theme-icon-size: 1rem;
$theme-header-pronounced-shadow: 0 0 13px rgba($white,.7), 0 0 3px rgba($white,.2);

// TOOLTIP
$theme-tooltip-info-color: $brand-primary;

/********************************************
*********************************************
          Override bootstrap values
*********************************************
*********************************************/

// Options
$enable-flex:               true;
$enable-rounded:            false;
$enable-shadows:            true;
$enable-gradients:          true;
$enable-transitions:        true;

// Body
$border-radius: 0.8rem;

// Spacers
$spacer-x: $spacer;
$spacer-y: $spacer;

// Grid columns
$grid-gutter-width-base: $spacer;
$grid-gutter-widths: (
  xs: $grid-gutter-width-base,
  sm: $grid-gutter-width-base,
  md: $grid-gutter-width-base,
  lg: $grid-gutter-width-base,
  xl: $grid-gutter-width-base
);

// Font
$font-family-sans-serif: "OpenSans-Regular", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-base: $font-family-sans-serif;

$font-size-base: 0.875rem;
$font-size-lg:   1.25 * $font-size-base;
$font-size-sm:   .875 * $font-size-base;
$font-size-xs:   .75 * $font-size-base;

$font-size-h1: 1.5rem;
$font-size-h2: 1.3rem;
$font-size-h3: 1.2rem;
$font-size-h4: 1.1rem;
$font-size-h5: 1rem;
$font-size-h6: $font-size-base;

$line-height-base: 1.2;
$headings-font-family: 'OpenSans-Bold', Roboto, "Helvetica Neue", Arial, sans-serif;

// Breadcrumbs
$breadcrumb-padding-y: 0;
$breadcrumb-padding-x: 0;
$breadcrumb-bg: $white;
$breadcrumb-shadow: 0 2px 2px 0 rgba($black,.08), 0 3px 10px 2px rgba($black,.12);

// Buttons
$btn-padding-x: $spacer-x * 1.5;
$btn-padding-y: $spacer-y;
$btn-padding-x-sm: $spacer-x;
$btn-padding-y-sm: $spacer-y / 2;
$btn-padding-x-lg: $spacer-x * 2.5;
$btn-padding-y-lg: $spacer-y * 1.5;
$btn-block-spacing-y: $spacer-y;
$btn-toolbar-margin: $spacer-x;
$btn-box-shadow: 0 3px 1px -2px rgba($black,.2), 0 2px 2px 0 rgba($black,.14), 0 1px 5px 0 rgba($black,.12);
$btn-focus-box-shadow: 0 3px 1px -2px rgba($black,.2), 0 2px 2px 0 rgba($black,.14), 0 1px 2px 0 rgba($black,.12);
$btn-active-box-shadow: 0 2px 2px 0 rgba($black,.14), 0 1px 5px 0 rgba($black,.12);

$nav-pills-border-radius: 1rem;

// Modal
$modal-header-padding: $spacer-x $spacer-y;
$modal-inner-padding: $spacer-x $spacer-y;
$modal-header-border-color: $theme-border-color;
$modal-footer-border-color: $theme-border-color;
$close-font-size: 1rem;

// Cards
$card-spacer-x: $spacer;
$card-spacer-y: $spacer;
$card-deck-margin: $spacer / 2;
$card-columns-gap: $spacer;
$card-columns-count: 4;
$card-border-color: $theme-border-color;
$card-cap-bg: $white;

// Forms
$input-padding-x: $spacer-x;
$input-padding-y: $spacer-y;

$input-bg: $white;
$input-box-shadow: $btn-box-shadow;

$form-group-margin-bottom: $spacer-y;

$input-border-focus: $brand-primary;
$input-color-placeholder: $gray-light;

$custom-control-indicator-bg: $input-bg;
$custom-control-indicator-box-shadow: $btn-box-shadow;
$custom-control-active-indicator-bg: lighten($brand-success, 35%);
$custom-control-focus-indicator-box-shadow: 0 0 0 1px $brand-success;
$custom-control-checked-indicator-bg: $brand-success;
$custom-control-gutter: 1rem;
$custom-control-spacer-x: 0;

$custom-checkbox-indeterminate-bg: $brand-success;

$custom-select-focus-border-color: $brand-primary;
$custom-select-focus-box-shadow: $btn-box-shadow;
$custom-select-padding-x: $spacer-x;
$custom-select-padding-y: $spacer-y;

// Tooltips
$tooltip-bg: $brand-danger;
$tooltip-arrow-color: $tooltip-bg;
$tooltip-padding-y: $spacer-y;
$tooltip-padding-x: $spacer-x;
$tooltip-margin: 0;
$tooltip-arrow-width: $spacer-x;

// List
$list-group-item-padding-x: $spacer;
$list-group-item-padding-y: $spacer;

// Components
$line-height-lg: 1.2;
$line-height-sm: 1.5;

// Table
$table-cell-padding: $spacer;
$table-sm-cell-padding: $spacer / 2;
$table-inverse-bg: $brand-primary;
$table-bg-accent: rgba($black,.03);
$table-border-color: $theme-border-color;

$table-head-bg: $gray-lightest;
$table-head-color: $gray-light;

// Pagination
$pagination-padding-x: $spacer-x;
$pagination-padding-y: $spacer-y;
$pagination-padding-x-sm: $spacer-x;
$pagination-padding-y-sm: $spacer-y / 2;
$pagination-padding-x-lg: $spacer-x * 2;
$pagination-padding-y-lg: $spacer-y * 2;

// Alert
$alert-padding-x: $spacer-x;
$alert-padding-y: $spacer-y;
$alert-margin-bottom: $spacer-y;

// Badge
$badge-font-weight: normal;

// Cards link buttons
$card-footer-font-weight: 600;

@import '../../../node_modules/bootstrap/scss/variables.scss';
