@import '~bootstrap/scss/bootstrap.scss';
@import '_mixins.scss';
@import '_typography.scss';

@include resetCss();

html {
  @include fontRegular();

  background-color: aliceblue;
  color: darkslateblue;
  line-height: 1.231;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}