@import "_mixins";
@import "_colorDefinitions";

.resetCss();

html {
    background: @background;
    color: @color;
}

app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.content {
    display: flex;
    flex: 1;

    .fontLight();
}

header {
    padding: 0.5em;

    p {
        font-size: 0.8em;
        .fontLight();
        color: darken(@header_color, 20%);
    }
}

header, footer {
    background: @header_background;
    color: @header_color;
}

nav {
    background: @nav_background;
    color: lighten(saturate(@focus_color, 30%), 30%);

    li a {
        padding: .5em;
        display: block
    }

    li a.router-link-active {
        color: darken(@nav_background, 30%);
        background: saturate(@focus_color, 20%);
    }
}

footer ul {
    li {
        display: inline-block;
    }

    button {
        background: transparent;
        color: @nav_background;
        border: none;
        width: 5em;
        padding: 0.5em;

        &:hover {
            background: saturate(@focus_color, 30%);
        }

        &.selected {
            background: saturate(@focus_color, 20%);
            color: darken(@nav_background, 30%);
        }
    }
}

nav {
    flex: 0 0 10em;

    li {
        .active {
            .fontBold();
            color: @background;
        }
    }
}

main {
    flex: 1;
    padding: 0.5em;
}