@import "_mixins";
@import "_colorDefinitions";

.resetCss();

html {
    background: @background;
    color: @color;
}

app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.content {
    display: flex;
    flex: 1;

    .fontLight();
}

header {
    p {
        font-size: 0.8em;
        .fontLight();
        color: darken(@header_color, 20%);
    }
}

header, footer {
    background: @header_background;
    color: @header_color;
    padding: 0.5em;
}

nav, aside {
    background: @nav_background;
    color: lighten(saturate(@focus_color, 30%), 30%);
    padding: .5em;

    button {
        background: lighten(saturate(@focus_color, 30%), 30%);
        color: @nav_background;
        border: none;
        width: 100%;
        margin-bottom: 0.5em;

        &:hover {
            background: saturate(@focus_color, 30%);
        }
    }
}

nav {
    flex: 0 0 10em;

    li {
        .active {
            .fontBold();
            color: @background;
        }
    }
}

aside {
    flex: 0 0 4em;
}

main {
    flex: 1;
    padding: 0.5em;
}