@font-face {
    font-family: 'themeicons';
    src:
        url('./fonts/themeicons.ttf') format('truetype'),
        url('./fonts/themeicons.woff') format('woff'),
        url('./fonts/themeicons.svg#appicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="theme-icon-"]:before, [class*=" theme-icon-"]:before,
.glyphicon:before {
    font-family: 'themeicons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.theme-icon-stats:before {
  content: "\e903";
}
.theme-icon-list:before {
  content: "\f00b";
}
.theme-icon-alert:before {
  content: "\f02d";
}
.theme-icon-search:before {
  content: "\e986";
}
.theme-icon-plus:before {
  content: "\ea0a";
}
.theme-icon-minus:before {
  content: "\ea0b";
}
.theme-icon-close:before {
  content: "\ea0f";
}
.theme-icon-checkmark:before {
  content: "\ea10";
}
.theme-icon-remove:before {
  content: "\e901";
}
.theme-icon-add:before {
  content: "\e902";
}
.theme-icon-edit:before {
  content: "\f044";
}
.theme-icon-step-backward:before {
  content: "\f048";
}
.theme-icon-step-forward:before {
  content: "\f051";
}
.theme-icon-chevron-left:before, .glyphicon-chevron-left:before {
  content: "\f053";
}
.theme-icon-chevron-right:before, .glyphicon-chevron-right:before {
  content: "\f054";
}
.theme-icon-chevron-up:before {
  content: "\f077";
}
.theme-icon-chevron-down:before {
  content: "\f078";
}
.theme-icon-mail:before {
  content: "\e945";
}
.theme-icon-notification:before {
  content: "\e951";
}
.theme-icon-zoom-in:before {
  content: "\e987";
}
.theme-icon-zoom-out:before {
  content: "\e988";
}
.theme-icon-star:before {
  content: "\f005";
}
.theme-icon-star-o:before {
  content: "\f006";
}
.theme-icon-cards:before {
  content: "\f009";
}
.theme-icon-question:before {
  content: "\f128";
}
.theme-icon-info:before {
  content: "\f129";
}
.theme-icon-exclamation:before {
  content: "\f12a";
}

