@import '../../../node_modules/bootstrap/scss/bootstrap-flex';
@import '../../../node_modules/bootstrap/scss/bootstrap-grid';

@import 'typography';
@import 'mixins';
@import 'loader';
@import 'layout';
@import 'animations';

html, body {
  height: 100%;
}

body {
  @include fontRegular();
}

a, button {
  color: inherit;
  outline: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}
