body {
    font-family: 'Roboto-Regular', sans-serif;
    line-height: 1.231;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('fonts/Roboto-Bold.ttf');
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('fonts/Roboto-Light.ttf');
}