<div class="page-header">
  <h1>Home<span class="de-emphasize"> - Park</span></h1>
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item active">Home</li>
  </ol>
</div>

<div class="row">
  <div class="col-sm-4 col-lg-7"><div class="card">dsfsdfsdf</div></div>
  <div class="col-sm-4 col-lg-5"><div class="card">aaaaaaaaaaaa</div></div>
</div>
<div class="row">
  <div class="col-sm-6 col-lg-3">
    <div class="card">
    <div class="card-block">
      <div class="card-title">{{'home.SUB_TEXT' | translate }}</div>
    </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3">
    <div class="card">
    <div class="card-block">
      <div class="card-title">{{'home.SUB_TEXT' | translate }}</div>
    </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3">
    <div class="card">
    <div class="card-block">
      <div class="card-title">{{'home.SUB_TEXT' | translate }}</div>
    </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3">
    <div class="card">
    <div class="card-block">
      <div class="card-title">{{'home.SUB_TEXT' | translate }}</div>
    </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3">
    <div class="card">
    <div class="card-block">
      <div class="card-title">{{'home.SUB_TEXT' | translate }}</div>
    </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3">
    <div class="card">
    <div class="card-block">
      <div class="card-title">{{'home.SUB_TEXT' | translate }}</div>
    </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3">
    <div class="card">
    <div class="card-block">
      <div class="card-title">{{'home.SUB_TEXT' | translate }}</div>
    </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3">
    <div class="card">
    <div class="card-block">
      <div class="card-title">{{'home.SUB_TEXT' | translate }}</div>
    </div>
    </div>
  </div>
</div>
<aside class="main-aside">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="#">Text</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active"></div>
    <div class="tab-pane p1"></div>
    <div class="tab-pane p1"></div>
  </div>
</aside>
