<div class="page-header">
  <h1>Miscellaneous<span class="de-emphasize"> - Park</span></h1>
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item active">Miscellaneous</li>
  </ol>
</div>

<tabset>
  <tab heading="Modal Dialog">
      <button class="btn btn-primary" type="button" (click)="openSimpleModal()">Open simple modal</button>
      <button class="btn btn-warning" type="button" (click)="openSimpleModalWithCallback()">Open modal with close callback</button>
      <button class="btn btn-danger" type="button" (click)="openPromptModal()">Open modal with prompt</button>
  </tab>
  <tab heading="Map">
      <div world-map id="world-map" (change)="repositionTheDot($event)">
        <div id="dot">Vienna</div>
      </div>
  </tab>
  <tab>
    <template tabHeading><h4 class="app-icon-application">Tab</h4></template>
    This tab control
  </tab>
  <tab heading="Tree">
    <tree [collapsed]="false"
          [treeDataCallback]="getTreeData()"
          [nodeSelectCallback]="nodeSelectCallback">
    </tree>

    <h4>Selected node:</h4>
    <pre>{{selectedTreeNode | json}}</pre>
  </tab>
  <tab heading="Date picker">
    <datepicker [(ngModel)]="dt" [showWeeks]="true" [dateDisabled]="dateDisabled"></datepicker>
  </tab>
  <tab heading="Graphs">
    TBD...
  </tab>
</tabset>
