<div class="page-header">
  <h1>Miscellaneous<span class="de-emphasize"> - Park</span></h1>
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item active">Miscellaneous</li>
  </ol>
</div>

<ngb-tabset>
  <ngb-tab title="Modal Dialog">
    <template ngbTabContent>
      <button class="btn btn-primary" type="button" (click)="openSimpleModal()">Open simple modal</button>
      <button class="btn btn-warning" type="button" (click)="openSimpleModalWithCallback()">Open modal with close callback</button>
      <button class="btn btn-danger" type="button" (click)="openPromptModal()">Open modal with prompt</button>
    </template>
  </ngb-tab>
  <ngb-tab title="Map">
    <template ngbTabContent>
      <div world-map id="world-map" (change)="repositionTheDot($event)">
        <div id="dot">Vienna</div>
      </div>
    </template>
  </ngb-tab>
  <ngb-tab title="Tree">
    <template ngbTabContent>

      <tree [collapsed]="false"
            [treeDataCallback]="getTreeData()"
            [nodeSelectCallback]="nodeSelectCallback">
      </tree>

      <h4>Selected node:</h4>
      <pre>{{selectedTreeNode | json}}</pre>

    </template>
  </ngb-tab>
  <ngb-tab title="Graphs">
    <template ngbTabContent>
    </template>
  </ngb-tab>
</ngb-tabset>